{%extends 'all-news/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if articles%}
      <h2 style="color: #fff;">Found {{ articles|length }} of searched term {{message}}</h2>
    {% else %}
      <h2 style="color: #fff;"> Found 0 articles for the search term. {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if articles %}
    {% for article in articles %}
      <div class="col-sm-6 col-md-3">
          <h1 style="color: rgb(146, 226, 247);">{{article.title}}</h1>
      </div>
      </div>
      <br>
      <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
              <img src="{{ article.article_image.url}}" class="img-responsive" alt="Image">
  ​
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">           
              <h4 style="font-style: italic; font-size: 15px; color: #fff;" class="text-left hb">{{ article.post}}</h4>
          </div>
          

    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}